.main-content {
    margin-top: 130px;
}
.box-table  {
    display: flex;
    justify-content: center;
}
table {
    border: 1px solid rgb(64,64,64);
    border-collapse: collapse;
    margin: 20px;
}
th, td {
    border: 1px solid rgb(64,64,64);
    padding: 3px 10px;
}
.td-boton {
    width: 80px;
}
.btn-ver-archivo {
    background-color: rgb(13,110,253);
    border: none;
    height: 30px;
    width: 60px;
    color: white;
    border-radius: 4px;
    margin: 7px 10px;
}
.btn-ver-archivo:hover {
    cursor: pointer;
}