.mision {
    padding-top: 100px;
    width: 60%;
    margin: 0 auto;
}
h2 {
    text-align: center;
    margin-bottom: 20px;
}
.mision-text {
    line-height: 1.5em;
    font-size: 1.2em;
    text-align: justify;
}