* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', tahoma, sans-serif;
}
.main-notice-visible {
  position: fixed;
  width: 100%;
  height: 100vh;
  background-color: rgb(64,64,64, .8);
  z-index: 20;
  top: 0;
  display: block;
}
.main-notice-hidden {
  display: none;
  width: 0;
  height: 0;
}

.box-img-notice {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.btn-cerrar-notice {
  color: white;
  font-size: 2.5em;
  margin-bottom: 10px;
/*   position: fixed;
  top: 70px;
  right: 70px; */
  cursor: pointer;
}
.img-notice-visible {
  display: block;
}
.img-notice-hidden {
  display: none;
}
nav {
  position: fixed;
  display: grid;
  height: 100px;
  background-color: white;
  top: 0;
  width: 100%;
  grid-template: "box-main-logo box-main-title  empty-title box-main-menu" / 
                  200px         520px           1fr         350px;
  z-index: 10,
}
.box-main-logo {
  grid-area: box-main-logo;
  width: 100%;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.img-main-logo {
  height: 90px;
}
.box-main-title {
  display: flex;
  align-items: center;
}
.main-title {
    grid-area: main-title;
    font-size: 2em;
    color: rgb(37,50,114);
    text-align: left;
    width: 100%;
}
.main-title-phone {
  display: none;
}
.box-main-menu {
  grid-area: box-main-menu;
  width: 100%;
  display: flex;
  align-items: center;
  font-weight: 500;
  font-size: 0.9em;
}
.menu-barra {
  display: none;
}
.main-menu {
  width: 100%;
  display: flex;
  flex-direction: row;
  list-style: none;
  justify-content: space-around;
}
a {
  text-decoration: none;
  color: rgb(64,64,64);
  font-size: 1.2em;
  text-align: center;
  display: block;
}
.main-img {
  margin-top: 100px;
  width: 100%;
}
.main-img-phone {
  display: none;
}
.img-portada {
  width: 100%;
}
.main-menu-movil {
  display: none;
}
.main-menu-movil-hidden {
  display: none;
}
/* Media Queries */
@media only screen and (max-width: 1079px) {
  nav {
    grid-template: "box-main-logo box-main-title  empty-title box-main-menu" / 
                    200px         500px           1fr         50px;
  }
  .main-menu {
    display: none;
  }
  .menu-barra {
    display: block;
    font-size: 2em;
    color: rgb(64,64,64);
  }
  .menu-barra:hover {
    cursor: pointer;
  }
  .main-menu-movil {
    display: block;
    position: fixed;
    top: 100px;
    height: 100vh;
    width: 100%;
    background-color: rgb(64,64,64,.9);
    color: black;
  }
  .main-menu-movil-hidden {
    display: none;
  }
  .menu-movil li {
    display: block;
    border-bottom: 1px solid rgb(200,200,200);
    height: 100px;
  }
  .menu-movil li:hover {
    background-color: rgb(48,48,48);
    cursor: pointer;
  }
  .menu-movil li a {
    color: white;
    height: 100px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .main-logo {
    margin: 8px 30px;
    width: 90px;
    height: 70px;

  }
  .main-title {
    font-size: 1.8em;
    text-align: center;
    position: static;
    margin-left: -50px;
  }
  .img-notice-visible {
    width: 90%;
  }
  .btn-cerrar-notice {
    font-size: 2em;
    position: fixed;
    top: 20px;
    right: 30px;
    cursor: pointer;
  }
}
@media only screen and (max-width: 750px) {
  nav {
    grid-template: "box-main-logo box-main-title  box-main-menu" / 
                    150px         200px           1fr;
  }
  .img-main-logo {
    margin: 4px 20px;
    width: 120px;
    height: 85px;
  }
  .box-main-title {
    display: flex;
    justify-content: left;
    align-items: center;
  }
  .main-title {
    display: none;
  }
  .main-title-phone {
    display: block;
    font-size: 1.3em;
    color: rgb(37,50,114);
  }
  .box-main-menu {
    justify-content: flex-end;
  }
  .menu-barra {
    margin-right: 50px;
  }
  .main-img {
    display: none;
  }
  .main-img-phone {
    display: block;
  }
  .img-portada-phone {
    width: 100%;
  }
  .mision {
    padding-top: 20px;
  }
  .mision-text {
    margin-top: 10px;
  }
}
/* Fonts */
/* poppins-regular - latin */
@font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/poppins-v20-latin-regular.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
  }
  /* poppins-500 - latin */
  @font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    src: url('../fonts/poppins-v20-latin-500.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
  }
  /* poppins-600 - latin */
  @font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    src: url('../fonts/poppins-v20-latin-600.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
  }
  /* poppins-700 - latin */
  @font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    src: url('../fonts/poppins-v20-latin-700.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
  }
  /* poppins-800 - latin */
  @font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 800;
    src: url('../fonts/poppins-v20-latin-800.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
  }
  /* poppins-900 - latin */
  @font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 900;
    src: url('../fonts/poppins-v20-latin-900.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
  }